#Files that aren't really needed for the github release
configure.json
CommandsLogg.txt
ErrorsLog.txt
ErrorLog.txt
ffmpeg.exe
tempcat.png
commands/ffmpeg.exe
.tmp.driveupload
.space/README
.space/meta
retired-commands
DanibotTempFolder
danibot/
ignore/
Danibot server.bat
real.png
fake.png
data.json
variation0.png
variation1.png
variation2.png
variation3.png
variation4.png
variation5.png
variation6.png
variation7.png
variation8.png
variation9.png
variation10.png
DaniBot.Bat
.eslintrc.json.bak
.eslintrc.json.no
.replit
replit.nix
bot.js
keep_alive.js
deploy-local-commands.js
format-all.bat
secretsbackup.json
ffmpeg
purge.js