#Files that aren't really needed for the github release
configure.json
CommandsLogg.txt
ErrorsLog.txt
ErrorLog.txt
ffmpeg.exe
tempcat.png
commands/ffmpeg.exe
.tmp.driveupload
.space/README
.space/meta
danibot/
ignore/
real.png
fake.png
data.json
variation0.png
variation1.png
variation2.png
variation3.png
variation4.png
variation5.png
variation6.png
variation7.png
variation8.png
variation9.png
variation10.png