@font-face { font-family: RoundedBold; src: url('ArialRoundedMTBold.ttf'); } 
      .msg {
         font-family: RoundedBold
      };
      p{
         color: white;
      }
      body{
         background-color: black;
      }